*  {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}

.header  {
    background-color: #909090;
    height: 105px;
}
.container-header   {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 105px;
}

.language   {
    display: inline;
    width: 60px;
    position: absolute;
    left: 180px;
    top: 15px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.search-bar {
    position: absolute;
    left: 0px;
    top: 10px;
}
.container {
    top: 10px;
    margin: 0 auto;
    width: 900px;
    height: 105px;
    border-style: solid;
}
.menu   {
    position: absolute;
    top: 40px;
}
nav > ul > li > a  {
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: #909090;
    padding: 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
nav > ul    {
    list-style: none;
}
.dropdown   {
    position: relative;


