*  {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}
body    {
    line-height: 1;
}

.header  {
    background-color: #909090;
    height: 105px;
}
.container-header   {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 105px;
}

.language   {
    display: inline;
    width: 60px;
    position: absolute;
    left: 180px;
    top: 15px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.search-bar {
    position: absolute;
    left: 0px;
    top: 10px;
}

.menu   {
    position: absolute;
    top: 60px;
    right: 120px;
    z-index: 10;
}
nav > ul > li > a  {
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: #909090;
    padding: 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
nav > ul    {
    list-style: none;
}
.dropdown   {
    position: relative;
}

.dropdown-content   {
    width: max-content;
    display: none;
    position: absolute;
}
ul  {
    float: right;
    padding-right: 10px;
}
.dropdown:hover > .dropdown-content {
    display: block;
}
nav > ul > li > a:hover, .dropdown:hover > a {
    color: #005CA0;
    text-decoration-line: underline;
}
.border   {
    border-bottom: 1px solid rgb(165, 165, 165);
}
.menu-border    {
    text-align: center;
    border-left: 1px solid rgb(165, 165, 165);
    border-right: 1px solid rgb(165, 165, 165);
}
.img-container {
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 900px;
    height: 355px;
}
.column-1   {
    display: inline;
    position: relative;
    width: 293px;
    height: 355px;
    float: right;
}
.column-2   {
    display: inline;
    position: relative;
    float: right;
    right: 10px;
    width: 293px;
    height: 355px;
}
.column-3   {
    display: inline;
    position: relative;
    float: right;
    right: 20px;
    width: 293px;
    height: 355px;
}
.text-on-img    {
    padding: 0px;
    background-color: rgba(130,130,130,0.9);
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 228px;
    height: 77px;
    padding: 10px;
}
.header-on-text {
    display: block;
    margin: 0;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}
.small-text {
    display: block;
    font-size: 13px;
    margin-top: 4px;
}
.readMore   {
    text-decoration-line: underline;
    color: white;
    font-size: 13px;
    line-height: 13px;
    float: left;
    position: relative;
    bottom: 12px;
}
.readMore:hover {
    color: #005CA0;
}
.cubes  {
    position: relative;
    top: 60px;
    margin: 0 auto;
    width: 900px;
    height: 216px;
}
.cube-1 {
    position: relative;
    float: right;
    width: 244px;
    padding: 0 24px;
    height: 216px;
}
.cube-header    {
    padding: 0;
    margin: 0;
    z-index: 10;
    color: #575757;
    position: relative;
    height: 34px;
    right: 4px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    /* border-bottom: solid rgb(233, 232, 232); */
}
.cube-img   {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.readMore2  {
    color: #72716d;
    text-decoration: underline;
    margin-top: 20px;
    float: left;
    padding-left: 12px;
    font-size: 13px;
}
.footer {
    margin-top: 100px;
}